@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap");
:root {
  font-family: "Inter", sans-serif;
  --primary-color: rgb(230, 83, 60);
  --light-gry: rgba(255, 255, 255, 0.5);
  --el-xxl: 4.9rem;
  --lg-xl: 3rem;
  --md-l: 1.12rem;
  --sm-s: 0.875rem;
  background-color: black;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  color: white;
}

/* shared */
.flex {
  display: flex;
}

.gird {
  display: grid;
}

.btn {
  font-size: var(--md-l);
  font-weight: 600;
  padding: 16px 40px;
  border-radius: 42px;
  background-color: var(--primary-color);
  color: white;
  margin-right: 14px;
  cursor: pointer;
}

.btn-2 {
  font-size: var(--md-l);
  font-weight: 600;
  padding: 16px 40px;
  border: 1px solid white;
  border-radius: 42px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.container {
  max-width: calc(66.25%);
  margin: 0 auto;
}

.text-container {
  max-width: 671px;
  text-align: center;
}

.section-title {
  font-size: var(--lg-xl);
  font-weight: 900;
  margin-bottom: 14px;
}

.section-sub-title {
  font-weight: 400;
  font-size: var(--sm-s);
  color: var(--light-gry);
}

/* background-color */

.bg-color {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  margin-bottom: 100px;
}

/* nav */

.nav {
  align-items: center;
  justify-content: space-between;
  padding-top: 57px;
  padding-bottom: 35px;
}

.nav .logo {
  font-size: 32px;
  font-weight: 800;
  color: var(--primary-color);
}

.nav .links {
  gap: 48px;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 10px 20px 11px 5px;
}

.link a {
  text-decoration: none;
  color: white;
  font-size: var(--md-l);
  font-weight: 400;
}
.link a > span {
  background-color: var(--primary-color);
  font-weight: 600;
  border-radius: 46px;
  padding: 8px 20px;
}

/*  hero */
.hero-container {
  align-items: center;
  justify-content: space-between;
  gap: 167px;
  position: relative;
}

.hero-text-contaienr {
  max-width: 520px;
}

.hero-title {
  font-size: var(--el-xxl);
  font-weight: 900;
  margin-bottom: 28px;
  line-height: 6rem;
}

.hero-title span {
  font-family: "Grey Qo", cursive;
  font-size: 9.3rem;
  font-weight: 300;
}

.sub-title {
  color: var(--light-gry);
  margin-bottom: 28px;
}

.card-color {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.cards-1 {
  position: absolute;
  right: 250px;
  bottom: 100px;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 206px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 20px 23px;
}

.cards-2 {
  position: absolute;
  top: 150px;
  right: -100px;
  width: 193px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 20px 23px;
}

.card-number {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.cards-2 > .card-number {
  font-size: 2.5rem;
}

.card-text {
  font-weight: 400;
  color: var(--light-gry);
}

/* change-happit */

.change-happit {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 58px;
  margin-bottom: 100px;
}

.habbits {
  width: 100%;
  gap: 40px;
  justify-content: space-between;
}

.habbit {
  max-width: 231px;
  text-align: center;
}

.habbit > img {
  border-radius: 50%;
  margin-bottom: 30px;
}

.habbit > h3 {
  font-weight: 600;
  font-size: var(--md-l);
  margin-bottom: 6px;
}

.habbit > p {
  font-weight: 400;
  font-size: var(--sm-s);
  color: var(--light-gry);
}

/* Run an Extra Mile Easily */

.run {
  align-items: center;
  justify-content: space-between;
  gap: 165px;
  border-radius: 18px;
  padding: 30px 32px 30px 32px;
  background: rgb(34, 34, 34);
  margin-bottom: 100px;
}

.run-text-container {
  max-width: 443px;
}

.run-text-container > p {
  margin-bottom: 34px;
}
.run-img-container {
  max-width: 100%;
}

.run-img-container > img {
  width: 366px;
  border-radius: 18px;
}
