@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap");
:root {
  font-family: "Inter", sans-serif;
  --primary-color: rgb(230, 83, 60);
  --light-gry: rgba(255, 255, 255, 0.5);
  --el-xxl: 4.9rem;
  --lg-xl: 3rem;
  --md-l: 1.12rem;
  --sm-s: 0.8rem;
  background-color: black;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  color: white;
}
/* shared */
.flex {
  display: flex;
}
.gird {
  display: grid;
}

.max-width {
  max-width: calc(66.25%);
}

.btn {
  font-size: var(--md-l);
  font-weight: 600;
  padding: 16px 40px;
  border-radius: 42px;
  background-color: var(--primary-color);
  color: white;
  margin-right: 14px;
  cursor: pointer;
}

.btn-2 {
  font-size: var(--md-l);
  font-weight: 600;
  padding: 16px 40px;
  border: 1px solid white;
  border-radius: 42px;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* background-color */

.bg-color {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

/* nav */

.nav {
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 57px;
  padding-bottom: 32px;
}

.nav .logo {
  font-size: 32px;
  font-weight: 800;
  color: var(--primary-color);
}

.nav .links {
  gap: 48px;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 10px;
}

.link a {
  text-decoration: none;
  color: white;
  font-size: var(--md-l);
  font-weight: 400;
}
.link a > span {
  background-color: var(--primary-color);
  font-weight: 600;
  border-radius: 46px;
  padding: 8px 20px;
}

/*  hero */
.hero-container {
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  gap: 167px;
  position: relative;
}

.hero-text-contaienr {
  max-width: 520px;
}

.hero-title {
  font-size: var(--el-xxl);
  font-weight: 900;
  margin-bottom: 28px;
  line-height: 6rem;
}

.hero-title span {
  font-family: "Grey Qo", cursive;
  font-size: 9.3rem;
  font-weight: 300;
}

.sub-title {
  color: var(--light-gry);
  margin-bottom: 28px;
}

.card-color {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.cards-1 {
  position: absolute;
  right: 250px;
  bottom: 100px;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 206px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 20px 23px;
}

.cards-2 {
  position: absolute;
  top: 150px;
  right: -100px;
  width: 193px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 20px 23px;
}

.card-number {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.cards-2 > .card-number {
  font-size: 2.5rem;
}

.card-text {
  font-weight: 400;
  color: var(--light-gry);
}
